# Use either PostgreSQL or Cloudflare D1 for the backend database.
# For PostgreSQL:
DATABASE_URL="postgresql://postgres:admin@localhost:5432/acpix"

# For Cloudflare D1:
D1_ACCOUNT_ID=""
D1_DATABASE_NAME=""
CLOUDFLARE_API_TOKEN=""

BACKEND_PORT="4000"
FRONTEND_ORIGIN="http://localhost:9002"
